<div class="home-overlay cf angular-animate" ng-hide="errors.length" ng-if="!feedVisibleClass">

	<section id="quickAccess" class="max minimized angular-animate" ng-if="!feedVisibleClass" ng-class="{
		'min': showEnableAuthRecentSites === false && !recentSites,
		'max': showEnableAuthRecentSites || recentSites,
		'visible': !isSwitchedToHalfView && feedVisibleClass !== 'halfView'
		}">
		<div class="search">
			<form ng-submit="::search(searchText, $event)" id="searchForm">
				<div class="input {{defaultSearch}}">
					<input tabindex="1" maxlength="50" type="text" ng-model="searchText" id="searchBox" placeholder="Search Google or Muzli" name="q" lookahead/>

					<div class="searchOptions">
						<i class="icon-search"></i>
						<a href="#" ng-class="{ default: defaultSearch === 'muzli', active: activeSearch === 'muzli' }" class="muzli icon-muzli" title="Muzli search" ng-click="search(searchText, $event, 'muzli')"></a>
						<a href="#" ng-class="{ default: defaultSearch === 'google', active: activeSearch === 'google' }" class="google icon-google" title="Google search" ng-click="search(searchText, $event, 'google')"></a>
					</div>

				</div>
			</form>
		</div>
		<div class="clock">
			<span class="time">{{currentTime | date:'h:mm a'}}</span>
			<span class="date">{{currentTime | date:'EEEE, MMMM d'}}</span>
		</div>
	</section>

	<section id="sticky">

		<ul class="home" ng-if="muzliFeed.length">
			<li ng-repeat="item in muzliFeed track by (item.id || item.link)" ng-class="::{
					viral: item.viral,
					video: !!item.video,
					playing: item.playing,
					animated: !!item.animated,
					nsfw: !!item.nsfw || !!item.userNSFW,
					showSharePromo: item.displaySharePromo,
					showMenu: item.showMenu,
					}"
					class="angular-animate"
					data-muzli-id="{{::item.id}}" check-visibility>

					<div class="tile">

						<a target="_blank" href="{{::item.link_out}}" class="feedLink" ng-mousedown="::postClick(item, $event)">
							<div class="postPhoto">
								<img ng-if="::!item.video && !item.youtube" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAMAAAAoyzS7AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRFAAAAAAAApWe5zwAAAAF0Uk5TAEDm2GYAAAAMSURBVHjaYmAACDAAAAIAAU9tWeEAAAAASUVORK5CYII=" muzli-lazy="{{::item.image}}" muzli-gif="{{::item.gif}}" muzli-is-gif="{{::item.isGif}}" alt="" />
								<muzli-video ng-if="::item.video"></muzli-video>

								<div class="share-promo" ng-if="item.displaySharePromo">
									<div class="share">
										<h4>Nice! Maybe your friends will also enjoy this?</h4>
										<span class="facebook icon-facebook" ng-click="::openSharer($event, 'facebook', item)" title="Share on Facebook"></span>
										<span class="twitter icon-twitter" ng-click="::openSharer($event, 'twitter', item)" title="Share on Twitter"></span>
										<span class="linkedin icon-linkedin" ng-click="::openSharer($event, 'linkedin', item)" title="Share on LinkedIn"></span>
										<span class="slack icon-slack" ng-click="::sendSlack($event, item)" title="Share on Slack"></span>
									</div>
								</div>

							</div>
						</a>

						<div class="postMeta" ng-class="{'fix-controls': item.showControls}">

							<div class="postInfo">
								<h3 ng-bind="::item.title"></h3>
								<span class="source" ng-bind="::item.source.title"></span>
							</div>

							<div class="details angular-animate" ng-if="!item.showControls">

								<span class="favorite icon-fav" ng-click="::toggleFavorite($event, item)" ng-class="{ active: item.favorite }" title="Save item" title-top="true"></span>

								<div class="post-menu" ng-if="user && !user.anonymous">

									<i class="icon-menu" title="More options" title-top="true" ng-click="item.showMenu = !item.showMenu"></i>

									<ul class="dropdown" ng-if="item.showMenu" click-outside="item.showMenu = false">
										<li ng-if="!item.nsfw && !item.userNSFW"><a href="" ng-click="::markNSFW(item)">Report NSFW</a></li>
										<li ng-if="item.userNSFW"><a href="" ng-click="::unmarkNSFW(item)">Mark as SFW</a></li>
										<li><a href="" ng-click="::markHidden(item)">Hide from My feed</a></li>
									</ul>
								</div>

								<div class="stats pull-right">
									<span class="action" ng-click="::openDNlink($event, item.link_out_direct)" ng-if="item.source.name == 'designer_news' && item.external_url" title="Open discussion" title-top="true">
										<span class="icon-chat"></span>
									</span>

									<span title="Votes" title-top="true" ng-if="::item.source.name === 'dribbble'">
										<span class="icon-dribbble"></span>
										<span>{{::item.stats.likes || 0 | thousandSuffix:1}}</span>
									</span>

									<span title="Votes" title-top="true" ng-if="::item.source.name === 'producthunt'">
										<span class="icon-ph"></span>
										<span>{{::item.stats.likes || 0 | thousandSuffix:1}}</span>
									</span>

									<span title="Views" title-top="true">
										<span class="icon-view"></span>
										<span>{{::item.clicks || 0 | thousandSuffix:1}}</span>
									</span>
									<span class="action" title="Share this" title-top="true" ng-click="item.showControls = !item.showControls">
										<span class="icon-share"></span>
										<span>{{::item.virality || 0 | thousandSuffix:1}}</span>
									</span>
				                </div>
							</div>

							<div class="controls angular-animate" ng-if="item.showControls">
								<div class="share">
									<span class="facebook icon-facebook" ng-click="::openSharer($event, 'facebook', item)" title="Share on Facebook" title-top="true"></span>
									<span class="twitter icon-twitter" ng-click="::openSharer($event, 'twitter', item)" title="Share on Twitter" title-top="true"></span>
									<span class="linkedin icon-linkedin" ng-click="::openSharer($event, 'linkedin', item)" title="Share on LinkedIn" title-top="true"></span>
									<span class="slack icon-slack" ng-click="::sendSlack($event, item)" title="Share on Slack" title-top="true"></span>
								</div>
								<div class="close icon-close" ng-click="item.showControls = !item.showControls"></div>
							</div>
						</div>
					</div>
			</li>
		</ul>

		<ul ng-hide="muzliFeed.length || errors.indexOf('all-error') > -1">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</section>

</div>

<div class="home-content angular-animate" ng-hide="!feedVisibleClass" ng-hide="errors.indexOf('all-error') > -1">

	<div class="our-picks">

		<div class="cf">
			<h2 class="latest-stories">From our picks</h2>
		</div>

		<section id="sticky">

			<!-- Sticky posts -->
			<ul class="picks cf" ng-if="muzliFeed.length">

				<li ng-repeat="item in muzliFeed | filterVisible track by (item.id || item.link)" ng-class="::{
				viral: item.viral,
				video: !!item.video,
				playing: item.playing,
				animated: !!item.animated,
				nsfw: !!item.nsfw || !!item.userNSFW,
				showSharePromo: item.displaySharePromo,
				showMenu: item.showMenu,
				}"
				class="angular-animate"
				data-muzli-id="{{::item.id}}">

					<div class="tile">
						<a target="_blank" href="{{::item.link_out}}" class="feedLink" ng-mousedown="::postClick(item, $event)">
							<div class="postPhoto">
								<img ng-if="::!item.video && !item.youtube" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAMAAAAoyzS7AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRFAAAAAAAApWe5zwAAAAF0Uk5TAEDm2GYAAAAMSURBVHjaYmAACDAAAAIAAU9tWeEAAAAASUVORK5CYII=" muzli-lazy="{{::item.image}}" muzli-gif="{{::item.gif}}" muzli-is-gif="{{::item.isGif}}" alt="" />
								<muzli-video ng-if="::item.video"></muzli-video>

								<div class="share-promo" ng-if="item.displaySharePromo">
									<div class="share">
										<h4>Nice! Maybe your friends will also enjoy this?</h4>
										<span class="facebook icon-facebook" ng-click="::openSharer($event, 'facebook', item)" title="Share on Facebook"></span>
										<span class="twitter icon-twitter" ng-click="::openSharer($event, 'twitter', item)" title="Share on Twitter"></span>
										<span class="linkedin icon-linkedin" ng-click="::openSharer($event, 'linkedin', item)" title="Share on LinkedIn"></span>
										<span class="slack icon-slack" ng-click="::sendSlack($event, item)" title="Share on Slack"></span>
									</div>
								</div>
							</div>
						</a>

						<div class="postMeta" ng-class="{'fix-controls': item.showControls}">

							<div class="postInfo">
								<h3 ng-bind="::item.title"></h3>
								<span class="source" ng-bind="::item.source.title"></span>
							</div>

							<div class="details angular-animate" ng-if="!item.showControls">

								<span class="favorite icon-fav" ng-click="::toggleFavorite($event, item)" ng-class="{ active: item.favorite }" title="Save item" title-top="true"></span>

								<div class="post-menu" ng-if="user && !user.anonymous">

									<i class="icon-menu" title="More options" title-top="true" ng-click="item.showMenu = !item.showMenu"></i>

									<ul class="dropdown" ng-if="item.showMenu" click-outside="item.showMenu = false">
										<li ng-if="!item.nsfw && !item.userNSFW"><a href="" ng-click="::markNSFW(item)">Report NSFW</a></li>
										<li ng-if="item.userNSFW"><a href="" ng-click="::unmarkNSFW(item)">Mark as SFW</a></li>
										<li><a href="" ng-click="::markHidden(item)">Hide from My feed</a></li>
									</ul>
								</div>

								<div class="stats pull-right">
									<span class="action" ng-click="::openDNlink($event, item.link_out_direct)" ng-if="::item.source.name == 'designer_news' && item.external_url" title="Open discussion" title-top="true">
										<span class="icon-chat"></span>
									</span>

									<span title="Votes" title-top="true" ng-if="::item.source.name === 'dribbble'">
										<span class="icon-dribbble"></span>
										<span>{{::item.stats.likes || 0 | thousandSuffix:1}}</span>
									</span>

									<span title="Votes" title-top="true" ng-if="::item.source.name === 'producthunt'">
										<span class="icon-ph"></span>
										<span>{{::item.stats.likes || 0 | thousandSuffix:1}}</span>
									</span>

									<span title="Views" title-top="true">
										<span class="icon-view"></span>
										<span>{{::item.clicks || 0 | thousandSuffix:1}}</span>
									</span>
									<span class="action" title="Share this" title-top="true" ng-click="::item.showControls = !item.showControls">
										<span class="icon-share"></span>
										<span>{{::item.virality || 0 | thousandSuffix:1}}</span>
									</span>
				                </div>
							</div>

							<div class="controls angular-animate" ng-if="item.showControls">
								<div class="share">
									<span class="facebook icon-facebook" ng-click="::openSharer($event, 'facebook', item)" title="Share on Facebook" title-top="true"></span>
									<span class="twitter icon-twitter" ng-click="::openSharer($event, 'twitter', item)" title="Share on Twitter" title-top="true"></span>
									<span class="linkedin icon-linkedin" ng-click="::openSharer($event, 'linkedin', item)" title="Share on LinkedIn" title-top="true"></span>     <span class="slack icon-slack" ng-click="::sendSlack($event, item)" title="Share on Slack" title-top="true"></span>
								</div>
								<div class="close icon-close" ng-click="::item.showControls = !item.showControls"></div>
							</div>
						</div>
					</div>

				</li>
			</ul>

			<ul ng-hide="muzliFeed.length || errors.indexOf('all-error') > -1">
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</section>
	</div>

	<div class="cf" ng-if="allFeed.length" ng-cloak>
		<h2 class="latest-stories pull-left" ng-hide="errors.indexOf('all-error') > -1">Latest Stories</h2>
		<div class="feedSorters pull-right">
			<a ng-click="::sortFeed('virality')" ng-class="{ active: currentFeedSort === 'virality' }" href="#" title="Sort by popularity"><i class="icon-hot"></i></a>
    		<a ng-click="::sortFeed()"ng-class="{ active: currentFeedSort !== 'virality' }" href="#" title="Sort by date"><i class="icon-time"></i></a>
		</div>
	</div>

	<scrollable-feed items="allFeed" sponsored="sponsored" ng-hide="errors.length" load-on-sort="viralTimes" show-favorite show-virality></scrollable-feed>
</div>
