body.PRISMzeplin, body.PRISMzeplin * {cursor:crosshair !important;-webkit-user-select:none;user-select:none;outline:none;}
body .PRISMredlinepanel, body .PRISMredlinepanel * {cursor:initial !important;outline:none;}

body.PRISMzeplin::before {content:'';position: fixed;z-index: 9999999999999999;top: 0;left: 0;right: 0;bottom: 0;padding:12px 20px;color:rgba(255,255,255,.2);mix-blend-mode:difference;pointer-events: none;}


body.PRISMzeplin.MAGIC::before {
  pointer-events: all;
}

  .PRISMredlinepanel .spacingpreview, .PRISMredlinepanel .paddingpreview {box-shadow: inset 0 0 0 1px #e1e1e1;}
    .PRISMredlinepanel .spacingpreview > span, .PRISMredlinepanel .paddingpreview > span {position:absolute;font-size:12px;padding:2px 4px;display:block;color:#4b4b4b;}

.PRISMredline {pointer-events: none;z-index:2147483645;}

  .PRISMredline {overflow: hidden;position: absolute;top: 0;left: 0;bottom: 0;right: 0;pointer-events: none;}


      .PRISMredlineactual::before {content:attr(data-value);position:absolute;color:white;top:-2px;left:0;transform:translate(0, -100%);padding:0 4px;border-radius:2px;font-size:12px;white-space:nowrap;background:#F53C3C;line-height:16px;}


  .PRISMprezeplin {z-index:2147483646;pointer-events:none;border:1px solid #E61414;box-sizing:border-box;border-color:rgba(255,0,0,.5);box-shadow:0 0 0 1px rgba(255,0,0,.5);position:absolute;font-family:adobe-clean, sans-serif !important;line-height:16px;}



  /*.PRISMprezeplin::before, .PRISMprezeplin::after {content:attr(data-width);position:absolute;color:#E61414;top:-4px;left:50%;transform:translate(-50%, -100%);padding:0 4px;border-radius:2px;font-size:12px;background:rgba(255,255,255,.95);}
  .PRISMprezeplin::after {content:attr(data-height);top:50%;left:100%;transform:translate(4px, -49%);}*/

  .PRISMprezeplin::before {content:attr(data-value);position:absolute;color:rgba(255,0,0,.65);font-weight:bold;top:-2px;left:-4px;transform:translate(0, -100%);padding:0 4px;border-radius:2px;font-size:11px;white-space:nowrap;background:rgba(255,255,255,.98);border-radius:2px;
    display:none;
  }


html .PRISMredlinepanel *, html .PRISMredlinepanel {margin:0;padding:0;cursor:initial !important;box-shadow:none;font-family:adobe-clean, sans-serif;border:none;font-size:12px;pointer-events: all !important;-webkit-user-select:text !important;user-select:text !important;}
  html .PRISMredlinepanel {position:fixed;top:56px;right:20px;border-radius:6px 6px 0 0;width:296px;z-index:2147483647;background:#eee;border:2px solid #e1e1e1;font:normal 12px adobe-clean, sans-serif !important;text-align: left;color:#4b4b4b;}
.PRISMredlinepanel .infopanel .sub {padding:20px 24px;border-bottom:2px solid #e1e1e1;overflow-x: hidden;}
  .PRISMredlinepanel .infopanel .sub:last-child {border:none;}
        .PRISMredlinepanel .infopanel .sub > h4 {margin-bottom:12px;font-size:10.5px !important;letter-spacing:.666px;font-weight:bold;color:#707070;text-transform:uppercase;font-feature-settings:initial;font-family:adobe-clean, sans-serif;}
          /*.PRISMredlinepanel.SPECTRUM .infopanel .sub > h4 {font-feature-settings: "smcp", "c2sc";font-size: 13px !important;font-weight: normal;}*/

      .PRISMredlinepanel .PRISMdrag {background:#e1e1e1;height:20px;cursor:move !important;cursor:-webkit-grab !important;}
        .PRISMredlinepanel .PRISMdrag:active {cursor:-webkit-grabbing !important;}

        .PRISMredlinepanel .PRISMdrag  * {pointer-events: none !important}

      .PRISMredlinepanel .infopanel .item {margin-top:20px;display:inline-block;margin-right:24px;}
        .PRISMredlinepanel .infopanel .label {color:#707070;margin:0;vertical-align:inherit;display:inline-block;display:table-cell;vertical-align:top;padding-right:8px;display:block;margin-bottom:6px;}
        .PRISMredlinepanel .infopanel .value {display: table-cell;vertical-align: top;font-size:14px;color:#4b4b4b;}

        .PRISMredlinepanel .infopanel .uglify {display:block;width:100%;}
          .PRISMredlinepanel .infopanel .uglify .column {display:inline-block;min-width:48px;margin-right:16px;}
          .PRISMredlinepanel .infopanel .uglify .label {min-width:0;}



    html body .PRISMredlinepanel button:not(.override) {height:32px;margin:0 6px 0 0 !important;background: transparent;padding: 0 12px 1px;border-radius:4px;border:none;font:bold 15px adobe-clean, sans-serif !important;color:#707070 !important;cursor:pointer !important;transition:color 125ms ease-in-out;text-transform:capitalize;}
      html .PRISMredlinepanel button:hover:not(.override) {color:#4b4b4b !important;background:#e1e1e1;}
      html .PRISMredlinepanel button:active:not(.override) {color:#2d2d2d !important;background:#ddd;}


      .PRISMredlinepanel .pausezeplin.off {opacity:.5;}

      .PRISMredlinepanel .borderpreview {position:relative;display:inline-block;border:1px solid rgba(0,0,0,.1);box-shadow: inset 0 0 0 1px #e1e1e1;}
        .PRISMredlinepanel .borderpreview > span {position:absolute;font-size:12px;padding:2px 4px;background:#eee;display:block;}
          .PRISMredlinepanel .borderleft {top:50%;left:0;transform: translate( -50%, -50%);}
          .PRISMredlinepanel .borderright {top:50%;right:0;transform: translate( 50%, -50%);}
          .PRISMredlinepanel .bordertop {top:0;left:50%;transform: translate( -50%, -50%);}
          .PRISMredlinepanel .borderbottom {bottom:0;left:50%;transform: translate( -50%, 50%);}


.PRISMdistance {min-width:1px;min-height: 1px;box-sizing:border-box;border:1px dotted;z-index:2147483646;}
    /*.PRISMdistance::before, .PRISMdistance::after {content:attr(data-y);bottom:50%;left:100%;transform:translate(1px, -50%);color:black;position:absolute;font-size:12px;padding: 0 2px;background:rgba(255,255,255,.75);border-radius:2px;}
      .PRISMdistance::after {content:attr(data-x);bottom:-1px;left:50%;transform:translate(-50%, 100%);}*/

      .PRISMdistanceinfo {position:absolute;top:50%;left:-4px;transform:translate(-100%, -50%);background:#111;padding:2px 8px;border-radius:4px;color:white;white-space:no-wrap;font-size:12px;}
        .PRISMdistanceinfo.PRISMcentered {left:50%;transform:translate(-50%, -50%);}
        .PRISMdistanceinfo div { white-space: nowrap;}

      .PRISMdistance2 {background:rgba(255,0,0,.5);width:2px;position:absolute;z-index:2147483646;pointer-events:none;line-height:16px;}

        .PRISMy {}
          .PRISMy::after {content:attr(data-value);position:absolute;top:50%;left:6px;color:#F53C3C;font-size:12px;transform:translateY(-50%);padding:0 4px;border-radius:2px;background:rgba(255,255,255,.95);font-weight:bold;}
          .PRISMy > div {position:absolute;top:0;left:-3px;width:8px;height:2px;background:rgba(255,0,0,.5);}
          .PRISMy > div:last-child {bottom:0;top:auto;}


          .PRISMx {height:2px;width:auto;}
            .PRISMx::after {content:attr(data-value);position:absolute;top:6px;left:50%;color:#FF6969;font-size:12px;transform:translateX(-50%);padding:0 4px;border-radius:2px;background:rgba(255,255,255,.95);font-weight:bold;}
            .PRISMx > div {position:absolute;left:0;top:-3px;width:2px;height:8px;background:rgba(255,0,0,.5);}
            .PRISMx > div:last-child {right:0;left:auto;}


      .PRISMredlinepanel .prismvhandle {position:relative;width:18px;height:5px;pointer-events:none !important;left:0;}
          .PRISMredlinepanel .prismvh {width:1px;height:5px;border-radius:1px;background:#999;position:absolute;top:8px;left:10px;pointer-events:none;}
          .PRISMredlinepanel .prismvh:nth-child(2) {left:13px;}
          .PRISMredlinepanel .prismvh:nth-child(3) {left:16px;}
          .PRISMredlinepanel .prismvh:nth-child(4) {left:19px;}
          .PRISMredlinepanel .prismvh:nth-child(5) {left:22px;}
          .PRISMredlinepanel .prismvh:nth-child(6) {left:25px;}



      .PRISMredlinepanel .PRISMscroll {overflow-y:auto;max-height:88vh;}


      .PRISMredlinepanel .PRISMtabs {position:relative;padding-bottom:6px;margin-top:0}
      .PRISMredlinepanel .PRISMline {position:absolute;bottom:-2px;left:28px;width:1px;height:2px;background:#2c2c2c;transition:transform 125ms ease-in-out;}

      .PRISMredlinepanel .buttontoggles {/*border:1px solid #e1e1e1;background:#f5f5f5;border-radius:4px;height:24px;*/display:flex;flex-direction:row;align-items: stretch;overflow:hidden;}
        html .PRISMredlinepanel .buttontoggles button:not(.override) {background:transparent;border:none;margin:0 !important;/*border-right:1px solid #e1e1e1;border-radius:0;*/height:32px;width:100%;font-weight:normal !important;font-size:14px !important;min-height: auto;padding:0 4px 1px;margin-right:1px !important;border-radius:4px;}
          .PRISMredlinepanel .buttontoggles button:not(.override):last-child {border:none;margin:0 !important;}

            .PRISMredlinepanel .buttontoggles button:not(.override):hover {color:#2c2c2c;}
            .PRISMredlinepanel .buttontoggles button:not(.override):active, .PRISMredlinepanel .buttontoggles button:not(.override).activated, .prismhover .PRISMredlinepanel .fakehover, .prismactive .PRISMredlinepanel .fakeactive, .prismfocus .PRISMredlinepanel .fakefocus, .prismdisabled .PRISMredlinepanel .fakedisabled, html:not(.prismhover):not(.prismactive):not(.prismfocus):not(.prismdisabled) .PRISMredlinepanel .fakedefault {/*background:#e1e1e1;*/color:#2c2c2c !important;}



            .PRISMredline .margin {position:relative;}
              .PRISMredline .margin::before {content:'';position:absolute;top:-1000vh;left:0;right:0;bottom:-1000vh;border-right:1px dashed;box-sizing:content-box;border-left:1px dashed;border-color:rgba(245, 60, 60, 0.5);}
              .PRISMredline .margin::after {content:'';position:absolute;top:0;left:-100vw;right:-100vw;bottom:0;border-top:1px dashed;box-sizing:content-box;border-bottom:1px dashed;border-color:rgba(245, 60, 60, 0.5);}




        /*.PRISMredlinepanel .hollowwrap {position:absolute;width:100%;top:0;}
        .PRISMredlinepanel .trackwrap {position:absolute;width:100%;height:2px;border-radius:1px;top:7px;overflow:hidden;}
        .PRISMredlinepanel .leftline {position:absolute;width:100%;top:0;left:calc(-50% - 12px);height:2px;background:rgba(255, 255, 255, 0.4);}
        .PRISMredlinepanel .rightline {position:absolute;width:100%;top:0;right:calc(-50% - 12px);height:2px;background:rgba(255, 255, 255, 0.4);}
        .PRISMredlinepanel .hollowhandle {width:16px;height:16px;border:2px solid rgba(255, 255, 255, 0.9);position:absolute;top:0;left:50%;border-radius:50%;margin-left:-8px;box-sizing:border-box;transition:border 150ms ease-in-out;}
        .PRISMredlinepanel .hollowhandle:hover {border-width:8px;}
        .PRISMredlinepanel .hollowhandle:active {border-color:rgba(255, 255, 255, .98);}*/


        .PRISMredlinepanel .toggle2 {width:24px;height:12px;position:relative;z-index:2;display:inline-block;vertical-align:middle;top:-2px;}

        .PRISMredlinepanel .trackwrap2 {width:100%;height:100%;}
        .PRISMredlinepanel .toggle2handle {width:12px;height:12px;border:2px solid #707070;border-radius: 50%;box-sizing: border-box;background:#eee;transition:transform 150ms ease-in-out, border-color 150ms ease-in-out;position: relative;z-index:2;}
        	.PRISMredlinepanel .togglewrap:hover .toggle2handle {border-color:#4b4b4b;}
        	.PRISMredlinepanel .togglewrap:active .toggle2handle {border-color:#2d2d2d;}

        .PRISMredlinepanel .on .toggle2handle {transform: translateX(100%);}

        .PRISMredlinepanel .togglefillwrap {position: absolute;top:0;left:0;right:0;bottom:0;z-index:1;overflow: hidden;border-radius:6px;background:#e1e1e1;}
      		.PRISMredlinepanel .togglefill {width:100%;height:100%;background:#707070;transition:transform 150ms ease-in-out, background-color 150ms ease-in-out;transform:translateX(calc(-100% + 6px));}
      			.PRISMredlinepanel .on .togglefill {transform:translateX(-6px);}

        .pausezeplin {position:relative;display:inline-block;cursor:pointer;border:none;}
        .pausezeplin .toggle {width:24px;height:10px;position:relative;z-index:2;display:inline-block;vertical-align:middle;pointer-events:none !important;padding-bottom: 1px;}
        .pausezeplin .linewrap {height:100%;width:100%;transition:transform 150ms ease-in-out;}
        .pausezeplin .trackwrap {width:100%;height:4px;position:absolute;top:3px;overflow:hidden;border-radius: 2px;transform:none;backface-visibility:hidden;-webkit-transform: translateZ(0);}
        .pausezeplin .hollowhandle {height:10px;width:10px;border-radius:50%;left:0;margin:0;transition:border 150ms ease-in-out, transform 150ms ease-in-out;border:2px solid #707070;box-sizing: border-box;}
        .pausezeplin .leftline {top:0;left:calc(-100% - 2px);width:100%;height:100%;min-height:4px;background:#c2c2c2;}
        .pausezeplin .rightline {top:0;left:12px;width:100%;height:100%;min-height:4px;background:#c2c2c2;}
        .pausezeplin .label {display:inline-block;vertical-align:middle;color:#707070;transition:color 150ms ease-in-out;}


        .pausezeplin:hover .hollowhandle {border-color:#4b4b4b;border-width:2px;}
        .pausezeplin:active .hollowhandle {border-color:#2d2d2d;}

        .pausezeplin:hover .label {color:#4b4b4b;}
        .pausezeplin:active .label {color:#2d2d2d;}

        .pausezeplin.on:hover .label {color:#2d2d2d;}
        .pausezeplin.on:active .label {color:#4b4b4b;}

        .pausezeplin.on .hollowhandle {transform:translateX(14px);border-width:5px;}
        .pausezeplin.on .linewrap {transform:translateX(14px);}



        .PRISMredlinepanel .PRISMeject:not(.override) {float:right;margin:0 !important;}
        .PRISMredlinepanel .clearzeplins:not(.override) {float:right;}


        .PRISMcss {background:#f5f5f5;color:#888;font-family: 'Source Code Pro', Monaco, monospace, sans-serif !important;line-height:1.5;}
          .PRISMredlinepanel .cssitem {padding-left:16px;font-family: 'Source Code Pro', Monaco, monospace, sans-serif !important;line-height:1.5;}
            .PRISMredlinepanel .cssclass {color:#F53C3C;font-family: 'Source Code Pro', Monaco, monospace, sans-serif !important;}
            .PRISMredlinepanel .csskey {color:#005ABE;font-family: 'Source Code Pro', Monaco, monospace, sans-serif !important;}
            .PRISMredlinepanel .cssvalue {color:#46A0F5;font-family: 'Source Code Pro', Monaco, monospace, sans-serif !important;}
            .PRISMredlinepanel .csscomment {color:#c2c2c2;}





  /*html.lightcss .PRISMredlinepanel, html.whitecss .PRISMredlinepanel  {background:#323232;color:#cdcdcd;}
    html.lightcss .PRISMredlinepanel, html.whitecss .PRISMredlinepanel, html.lightcss .PRISMredlinepanel .infopanel .sub {border-color:#2A2A2A;}
    html.lightcss .PRISMredlinepanel .PRISMdrag {background:#2a2a2a;}
    html.lightcss .PRISMredlinepanel .infopanel .value {color:#cdcdcd;}
    html.lightcss .PRISMredlinepanel .infopanel .label, html.lightcss .PRISMredlinepanel .infopanel .sub > h4 {color:#999;}
    html.lightcss .PRISMcss {background:#2a2a2a;}
    .PRISMredlinepanel .buttontoggles {border-color:#3e3e3e;background-color:#2e2e2e;}
    html .PRISMredlinepanel .buttontoggles button:not(.override) {border-color:#3e3e3e;}*/


    /*.PRISMredlinepanel .buttontoggles button:not(.override):active, .PRISMredlinepanel .buttontoggles button:not(.override).activated, .prismhover .PRISMredlinepanel .fakehover, .prismactive .PRISMredlinepanel .fakeactive, .prismfocus .PRISMredlinepanel .fakefocus, .prismdisabled .PRISMredlinepanel .fakedisabled, body:not(.prismhover):not(.prismactive):not(.prismfocus):not(.prismdisabled) .PRISMredlinepanel .fakedefault {background-color:#393939;}*/
