.download-apk-button {
	background: #009688 !important;
}
.apkmirror-button {
	background: #FF8B14 !important;
}
.ap-button {
	background: #000000 !important;
}
.appbrain-button {
	background: #3F51B5 !important;
}
.apkmirror-disabled-button, .apkmirror-disabled-button button {
	color: #c0c0c0 !important;
	cursor: not-allowed !important;
}
.apkmirror-disabled-button {
	background: #dddddd !important;
}
.apkmirror-button button, .appbrain-button button, .ap-button button {
	cursor: pointer !important;
}
.apkmirror-preregister-button, .appbrain-preregister-button, .ap-preregister-button, .disabled-preregister-button {
	border: none;
    box-shadow: none;
    font-weight: normal;
    margin: 0 0 5px 0;
    padding: 0;
}
.apkmirror-more-info {
	color: #689f38 !important;
	text-decoration: underline !important;
	cursor: pointer !important;
}
.apkmirror-more-info:hover {
	color: #3e5f21 !important;
}
/* Settings shortcut toolbar for Mobile Play Store (because Firefox for Android doesn't support the options pop-up */
.apkmirror-settings-toolbar {
	width: calc(100%-10px);
	padding: 10px;
	font-size: 16px;
	color: #FFFFFF;
	background: #333;
	text-align: center;
	user-select: none;
	cursor: pointer;
}

/* Mobile Play Store classes */
body.phone-optimized .apkmirror-extension-container .apps {
	min-width: 0px !important;
	padding: 0 20px 0 20px !important;
	margin-right: 5px !important;
}
body.phone-optimized .preregistration-container button, .phone-optimized .buy-button-container {
	min-width: 0px !important;
	padding: 0 20px 0 20px !important;
}
body.phone-optimized .wishlist-display {
	float: none !important;
	width: 100% !important;
	margin-bottom: 10px !important;
}
@media (max-width: 600px) {
	/* Make the Add to Wishlist button take up full screen width */
	body.phone-optimized .wishlist-container, body.phone-optimized .wishlist-content {
		width: 100% !important;
	}
	body.phone-optimized .wishlist-icon {
		margin-left: 0 !important;
	}
	body.phone-optimized .wishlist-icon {
		padding-left: 0 !important;
	}
	body.phone-optimized .wishlist-text {
		padding-left: 0 !important;
		text-align: center !important;
	}
	/* Make the Install/Pre-register button take up full screen width */
	body.phone-optimized .buy-button-container.play-button, body.phone-optimized .preregistration-content {
		width: 100% !important;
		display: block !important;
		padding: 0 !important;
	}
	/* Make the extension button container take up full screen width, with each button having an equal amount of width */
	body.phone-optimized .apkmirror-extension-container {
		display: flex !important;
		justify-content: space-between !important;
		width: 100% !important;
	}
	body.phone-optimized .apkmirror-extension-container .apps {
		width: -moz-available !important;
		width: -webkit-fill-available !important;
	}
	body.phone-optimized .apkmirror-extension-container .apps:last-child {
		margin-right: 0 !important;
	}
	body.phone-optimized .apkmirror-extension-container .apps:last-child {
		margin-right: 0 !important;
	}
	/* Fix buttons not taking up full width on pre-registration pages */
	.preregistration-display, .preregistration-container {
		display: block !important;
	}
}